<!-- views/products.handlebars -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
</head>
<body>
  
    <h1>Products</h1>
    <ul>
        {{#each products}}
            <li>
                <h2>{{this.name}}</h2>
                <p>Price: ${{this.price}}</p>
                <p>Category: {{this.category}}</p>
                <p>Description: {{this.description}}</p>
            </li>
        {{/each}}
    </ul>
</body>
</html>
